main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.navbar {
  margin: 0px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #102C57;
  align-items: center;
  color: whitesmoke;
}

.navbar-menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.navbar-list {
  flex-direction: row;
  list-style-type: none;
}

.navbar-list li {
  margin-right: 5px;
  font-weight: bold;
}

.todos-container {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: #EADBC8;
}

.todo-item-container {
  padding: 10px;
  display: flex;
  background-color: #F8F0E5;
}