body {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial'
}

main {
  
}

.navbar {
  margin: 0px;
  display: flex;
  flex: 1;
  width: '100%';
  height: 50px;
  background-color: #102C57;
  align-items: center;
  color: whitesmoke;
}

.navbar-menu-bar {
  margin-left: 10px;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar-list li {
  margin-right: 5px;
  font-weight: bold;
}