#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color-scheme: light;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial';
  height: 100%;
}
